/*body {
  margin: 0;
}

#map {
  width:600px;height:400px;transform: translate(-50%,-50%);position: absolute;top: 50%;left: 50%;
}

#sidebar {
  display: none;
}

.leaflet-marker-icon.marker-cluster {
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 2px solid #222;
}
*/
